# Data
Data hit & bounce/
*.mp4
*.pt

# Configuration locale (chemins vidéo)
config.txt

# Deep Learning (local uniquement)
hit_n_bounce/cnn_lstm_detector.py

# Consignes exercice
Exercice Hit & Bounce.pdf

# Notebooks
*.ipynb

# Images de calibration
*.jpg
*.png

# Documents
*.docx

# Python
__pycache__/
*.pyc
.venv/

.history/